body {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
}

#app {
  max-width: 400px;
  margin: 10% auto;
  /* position: relative;
  top: 50%;
  transform: translateY(-50%); */

}

h1 {
  text-align: center;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  margin: 5px 0;
  padding: 10px;
}

.todo-item input[type="checkbox"] {
  margin-right: 10px;
}

#add-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#add-button:hover {
  background-color: #0056b3;
}

.ToDoSearchBar{
  width: 375px;
  padding: 10px;
  margin: 5px 0;
}