body {
  font-family: Arial, sans-serif;
}

#app {
  max-width: 400px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  margin: 5px 0;
  padding: 10px;
}

.todo-item input[type="checkbox"] {
  margin-right: 10px;
}

#add-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#add-button:hover {
  background-color: #0056b3;
}

.ToDoSearchBar{
  width: 375px;
  padding: 10px;
  margin: 5px 0;
}

body {
  padding: 25px;
  background-color: white;
  color: rgb(4, 7, 62);
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}

button {
  background-color: #007bff; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }